# ==============================================================================
# Konfigurasi Lingkungan Kasir POS & Hybrid Cloud (AWS)
# ==============================================================================

# Database PostgreSQL
POSTGRES_USER=cashier_user
POSTGRES_PASSWORD=cashier_password
POSTGRES_DB=cashier_db
JWT_SECRET_KEY=supersecretjwtkey12345

# AWS S3 Backup Vault (Dapatkan dari AWS Details di Lab Vocareum)
S3_BUCKET=cashier-vault-fathi
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
